// MEDIA QUERIES

@mixin respond($breakpoint) {
  @if ($breakpoint == largeScreen) {
    @media only screen and (min-width: 1700px) {
      @content;
    }
  }

  @if ($breakpoint == tablet) {
    @media only screen and (min-width: 481px) and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

// FONTS

@mixin font-title($color) {
  font-family: "Fraunces", serif;
  font-size: 17.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 7.2rem;
  text-transform: lowercase;
  color: $color;
}

@mixin h1($color) {
  font-family: "Fraunces", serif;
  color: $color;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 7.2rem;
}

@mixin h2($color) {
  font-family: "Fraunces", serif;
  color: $color;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.8rem;
}

@mixin h3($color) {
  font-family: "Fraunces", serif;
  color: $color;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.6rem;
}

@mixin h4($color) {
  font-family: "Fraunces", serif;
  color: $color;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.2rem;
}

@mixin button {
  font-family: "Fraunces", serif;
  color: #fefcf7;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.5rem;
}

@mixin body($color) {
  font-family: "Barlow", sans-serif;
  color: $color;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}

@mixin nav($color) {
  font-family: "Barlow", sans-serif;
  color: $color;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

// MARGIN
@mixin max-width($value) {
  max-width: $value * 1rem;
  margin: 0 auto;
}

// TEXT-GRADIENT
@mixin text-gradient($orientation, $color1, $color2) {
  background-image: linear-gradient($orientation, $color1, $color2);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
